.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffd7d7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: rgb(39, 39, 41);
  font-weight: bold;
}

.App-description {
  font-size: calc(6px + 2vmin);
  color: rgb(80, 80, 88);
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

.App-subtext {
  font-size: calc(10px + 2vmin);
  color: rgb(80, 80, 88);
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}
